*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
}
.container{
    background: #f5f5f5;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 0;
}
.bd-title{
    font-size: 25px;
    color: rgb(14, 14, 14);
}
.bd-btn{
    padding: 15px 30px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    font-size: 16px;
    color: rgb(0, 106, 80);
    font-weight: 500;
    transition: 0.8s;
}
.bd-btn:hover{
    background-color: rgb(0, 106, 80);
    color: #f5f5f5;
    cursor: pointer;
}
.bd-btn2{
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.8s;
    background-color: rgb(0, 106, 80);
    color: #f5f5f5;
    cursor: pointer;
    border: none;
    width: 250px;
}
.bd-btn2:hover{
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    background-color: #f5f5f5;
}
/* banner section start */
.banner{
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-bottom: 70px;
}
.banner-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 65px;
}
.banner-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 15px;
}
.banner-title1{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-title2{
    color: rgb(14, 14, 14);
    font-size: 45px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-image{
    height: 312px;
}
.banner-image img{
    height: 100%;
}
/* banner section end */
/* pillar section start */
.pillar{
    margin-bottom: 70px;
}
.pillar-title{
    font-size: 23px;
    color: rgb(14, 14, 14);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.pillar-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.pillar-card-item{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    width: 400px;
    height: 220px;
    padding: 20px;
}
.card-title{
    color: rgba(14, 14, 14, 0.8);
    padding: 10px 0 10px 0;
}
.card-details{
    color: rgba(14, 14, 14, 0.7);
    font-size: 12px;
    font-weight: 400;
    padding: 9px 0 5px 0;
    line-height: 20px;
}
/* pillar section end */
/* vission section start */
.vission{
    margin-bottom: 40px;
}
.vission-title{
    font-size: 30px;
    color: rgb(14, 14, 14);
    font-weight: 700;
    padding: 20px 0 20px 0;
}
.vission-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 30px;
    line-height: 20px;
}
.vission-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.vission-card-item{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 20px;
    height: 220px;
    width: 400px;
}
.bd-btn3{
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.8s;
    background-color: rgb(0, 106, 80);
    color: #f5f5f5;
    cursor: pointer;
    border: none;
}
.bd-btn3:hover{
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    background-color: #f5f5f5;
}
.card-v2{
    background-color: rgb(198, 228, 214);
}
.btn4{
    background-color: rgb(9, 161, 92);
}
.btn4:hover{
    color: rgb(9, 161, 92);
    border: 1px solid rgb(9, 161, 92);
    background-color: #f5f5f5;
}
.v1-desc{
    margin-bottom: 10px;
}
.card-v1{
    background-color: rgb(247, 235, 207);
}
.btn5{
    background-color: rgb(255, 194, 57);
}
.btn5:hover{
    color: rgb(255, 194, 57);
    border: 1px solid rgb(255, 194, 57);
    background-color: #f5f5f5;
}
/* vission section end */
/* yunus section start */
.yunus{
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 80px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.yunus-details{
    background-image: url(images/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.yunus-description{
    padding: 25px 0;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    text-align: justify;
}
.yunus-title{
    color: rgba(14, 14, 14, 0.8);
    font-weight: 600;
    padding-bottom: 10px;
}
.yunus-qualification{
    color: rgba(14, 14, 14, 0.6);
    font-weight: 400;
    font-size: 15px;
}
/* yunus section end */
/* news section start */
.news-container{
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 25px;
    margin-bottom: 30px;
}
.news-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}
.news-image{
    width: 750px;
    height: 270px;
}
.news-image img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.news-details{
    height: 270px;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    padding-bottom: 10px;
}
.satelite-channel{
    margin-bottom: 5px;
}
.news-date span{
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}
.news-description{
    padding: 10px 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 20px;
}
/* news section end */
/* donate section start */
.donate{
    padding: 10px 65px 20px 65px;
}
.donate-title{
    text-align: center;
}
.donate-description{
    text-align: center;
}
